name: Build and deploy ASP.NET Core app to Azure Web App - PFormatter

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build project
        run: dotnet build --configuration Release --no-restore

      - name: Publish project
        run: dotnet publish -c Release -o ./published

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: ./published

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_9445C724CFD041DFADDDD66632CFA3B6 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_1996926FBDB44A7AB2DA1ACF93BF3A70 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_1C1F323F8FF34EE8BE93A4EE2DDB26FF }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'PFormatter'
          slot-name: 'Production'
          package: .
